<ng-template #load>
    <span>Loading...plaese wait</span>
</ng-template>
<ng-template #error>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #alternate>
    <span>No records found</span>
</ng-template>
<div class="container" *ngIf="!loading;else load">
    <div class="row">
        <!-- <form class="d-flex">
            Filter By:&nbsp;<input class="form-control me-sm-6" type="text" placeholder="Search" [value]="searchText"
                (change)="updateSearchText(search.value)" #search>
        </form> -->

        Filter By:&nbsp;<input class="form-control me-sm-6" type="text" placeholder="Search" [(ngModel)]="searchText">

    </div>
    <br>
    <div class="table-responsive" *ngIf="errorMessage === '';else error">
        <table class="table" *ngIf="productsData && productsData.length>0;else alternate">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of productsData|filterproduct:searchText">
                    <td>
                        <div class="img-responsive">
                            <img [src]="p.imageUrl" alt="NA" class="imgStyle" [title]="p.productName">
                        </div>
                    </td>
                    <td>{{p.productName|uppercase}}</td>
                    <td>{{p.price|currency:'INR'}}</td>
                    <td>{{p.starRating}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>